header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem 1.25rem;
  }
  
  header nav img {
    max-width: 100%;
    width: 12.5rem;
  }
  
  header nav a {
    color: #2c3e50;
    display: flex;
    margin-right: 0.5rem;
    text-decoration: none;
  }
  
  header nav a p {
    font-weight: bold;
    text-decoration: none;
  }
  
  header nav a i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
  
  header nav .connected {
    display: flex;
    gap: 1rem;
    margin-right: 0.5rem;
  }
  header nav .connected p {
    font-weight: bold;
  }
  header nav .connected i {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
  .fa-sign-out {
    margin-top: 15px;
  }
  
  .fa-user-circle {
    margin-top: 15px;
  }