.bg-dark {
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #12002b;
  }
  
  @media (max-width: 920px) {
    .bg-dark {
      min-height: 600px;
    }
  
    .sign-in-content {
      position: relative;
      margin-top: 170px;
    }
  }
  
  @media (min-width: 1900px) {
    .bg-dark {
      min-height: 820px;
    }
  }