@use "../../styles/utils/_variables";

// Style User :
.user {
  color: variables.$primary;
  margin-bottom: 2rem;
  text-align: center;

  h1 {
    font-size: 35px;
    color: variables.$primary;
    font-weight: 600;
    line-height: 45px;
  }

  &__error {
    font-size: 18px;
    color: variables.$senary;
    font-weight: 600;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .block__input {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      input {
        height: 45px;
        width: 200px;
        padding: 10px;
        font-size: 18px;
        color: variables.$secondary;
        font-weight: 600;
        border-radius: 5px;
        border: none;

        @media (max-width: 450px) {
          width: 130px;
        }
      }
    }

    .block__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      button {
        width: 130px;
        background-color: variables.$tertiary;
        color: variables.$primary;
        font-weight: bold;
        padding: 12px;
        cursor: pointer;
        font-size: 16px;
        border: none;
        border-radius: 5px;
      }
    }
  }

  button {
    background-color: variables.$tertiary;
    color: variables.$primary;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 5px;
  }
}