@use "../../styles/base/variables";


header {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: variables.$primary;

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 150px;
          max-width: 100%;

          @media (min-width: 500px) {
            width: 200px;
          }

          @media (max-width: 360px) {
            width: 115px;
          }
        }

        h1 {
          border: 0 !important;
          clip: rect(1px, 1px, 1px, 1px) !important;
          -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
          height: 1px !important;
          margin: -1px !important;
          overflow: hidden !important;
          padding: 0 !important;
          position: absolute !important;
          width: 1px !important;
          white-space: nowrap !important;
        }
      }
    }

    &__login {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        text-decoration: none;

        i {
          font-size: 15px;
          color: variables.$secondary;
          font-weight: 600;

          @media (min-width: 500px) {
            font-size: 20px;
          }
        }

        p {
          font-size: 14px;
          color: variables.$secondary;
          font-weight: 600;

          @media (min-width: 500px) {
            font-size: 16px;
          }

          &:hover {
            text-decoration: underline;
          }

          img {
            width: 30px;
          }
        }
      }

      button {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 20px;
        margin-right: 0px;
        text-decoration: none;
        border: none;
        background-color: variables.$primary;
        cursor: pointer;

        @media (min-width: 500px) {
          margin-right: 20px;
        }

        i {
          font-size: 15px;
          color: #2c3e50;
          font-weight: 600;

          @media (min-width: 500px) {
            font-size: 20px;
          }
        }

        p {
          font-size: 14px;
          color: variables.$secondary;
          font-weight: 600;

          @media (min-width: 500px) {
            font-size: 16px;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}