@use "../../styles/utils/_variables";

// Style Banner :
.banner {
  background-image: url("../../assets/img/bank-tree.jpeg");
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;

  @media (min-width: 920px) {
    height: 400px;
    background-position: 0% 33%;
  }

  &__content {
    position: relative;
    top: 2rem;
    width: 265px;
    background: variables.$primary;
    padding: 1.7rem;
    text-align: left;
    margin: 0 auto;

    @media (min-width: 920px) {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 350px;
      margin: 2rem;
    }

    h2 {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important;
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;
    }

    ul {
      list-style: none;
      line-height: 23px;
      margin-bottom: 20px;

      @media (min-width: 920px) {
        line-height: 33px;
      }

      li {
        font-size: 16px;
        font-weight: 600;
        color: variables.$secondary;

        @media (min-width: 920px) {
          font-size: 24px;
        }
      }
    }

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 20px;
      color: variables.$secondary;

      @media (min-width: 920px) {
        font-size: 19px;
        line-height: 25px;
      }
    }
  }
}